<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CefGtaLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <CefGtaLauncher.Properties.Settings>
      <setting name="steamloc" serializeAs="String">
        <value />
      </setting>
      <setting name="apikey" serializeAs="String">
        <value />
      </setting>
      <setting name="kullaniciadi" serializeAs="String">
        <value />
      </setting>
      <setting name="fivemlokasyon" serializeAs="String">
        <value />
      </setting>
      <setting name="gtalokasyon" serializeAs="String">
        <value />
      </setting>
      <setting name="txtsteamid" serializeAs="String">
        <value />
      </setting>
      <setting name="steamname" serializeAs="String">
        <value />
      </setting>
      <setting name="steamimage" serializeAs="String">
        <value />
      </setting>
      <setting name="redmlokasyon" serializeAs="String">
        <value />
      </setting>
      <setting name="rdr2lokasyon" serializeAs="String">
        <value />
      </setting>
    </CefGtaLauncher.Properties.Settings>
  </userSettings>
</configuration>